<html>
   <body>
   	<h1>PREDICT IMAGE</h1>
      <form action = "http://localhost:5000/predictImage" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <h1>PREDICT VIDEO</h1>
      <form action = "http://localhost:5000/predictVideo" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>  
   </body>
</html>